<!DOCTYPE html>
<html>

<head>
    <title>
        用户页
    </title>
</head>

<body>
    <%- include('includes/header') %>
        <h1>
            欢迎你，<%= id %>
        </h1>
        <%- html %>
            <ul>
                <% for(let i=0;i<users.length;i++) { %>
                    <li>
                        <%= users[i].name %>: <%= users[i].email %>
                    </li>
                    <% } %>
            </ul>
</body>

</html>